mixin clickeable 
    input(type="checkbox")
    div.shield

mixin bunny
  .left-ear--outer
  .left-ear--inner
  .right-ear--outer
  .right-ear--inner
  .head
    .head__eye.head__eye--left
    .head__eye.head__eye--right

mixin bunny2
  .left-ear--outer
  .left-ear--inner
  .right-ear--outer
  .right-ear--inner
  .head
    .head__eye.head__eye--left2
    .head__eye.head__eye--right2

mixin sofa
  .sofa
    .sofa--shadow
    .sofa--shadow2
   
mixin cushion
  .cushion
    .cushion--boton 
    .cushion--shadow1 
    .cushion--shadow2