main
  //-- BUNNY 1 
  h1 Atrapa a Whitey!
    
  .layer-1
    input(type="checkbox")
    +bunny
  .layer-2
    input(type="checkbox")
    +bunny2
  .layer-3 
    +sofa
  .layer-4
    input(type="checkbox")
    +bunny
  .layer-5
    +sofa
  .layer-6 
    input(type="checkbox")
    +bunny2
  .layer-7
    +sofa 
  .layer-8
    +cushion 
  .layer-9
    +cushion 
  .layer-10
    +cushion
include counter 

