.left-ear {
  &--outer {
    background-color: $color-rabbit;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    left: 10px;
    box-shadow: .25px .25px 1px .25px rgba(0, 0, 0, 0.1) inset,
      -.25px .25px 1px .25px rgba(0, 0, 0, 0.1) inset;
  }

  &--inner {
    background-color: hotpink;
    border-radius: 90%;
    width: 10px;
    height: 40px;
    position: absolute;
    left: 15px;
    top: 8px;
    box-shadow: .5px .5px 2px .5px rgba(0, 0, 0, 0.1) inset,
      -.5px .5px 2px .5px rgba(0, 0, 0, 0.1) inset;
  }

  ;
}

;

.right-ear {
  &--outer {
    background-color: $color-rabbit;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    left: 50px;
    box-shadow: .25px .25px 1px .25px rgba(0, 0, 0, 0.1) inset,
      -.25px .25px 1px .25px rgba(0, 0, 0, 0.1) inset;
  }

  &--outer2 {
    background-color: $color-rabbit;
    border-radius: 90%;
    width: 15px;
    height: 20px;
    position: absolute;
    // top: 1px;
    left: 53px;
    box-shadow: 0px 2px 5px -5px rgba(0, 0, 0, 0.85), .1px .2px 1px .25px rgba(0, 0, 0, 0.1) inset;
  }

  &--inner {
    background-color: hotpink;
    border-radius: 90%;
    width: 10px;
    height: 40px;
    position: absolute;
    left: 55px;
    top: 8px;
    box-shadow: .5px .5px 2px .5px rgba(0, 0, 0, 0.1) inset,
      -.5px .5px 2px .5px rgba(0, 0, 0, 0.1) inset;
  }

  ;
}

;

.head {
  height: 80px;
  border-radius: 50%;
  background-color: $color-rabbit;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  width: 100%;
  box-shadow: .25px .25px 1px .25px rgba(0, 0, 0, 0.1) inset,
    -.25px .25px 1px .25px rgba(0, 0, 0, 0.1) inset;

  &__eye {
    background-color: gray;
    border-top: 2px solid black;
    border-radius: 50%;
    width: 4px;
    height: 3px;
    position: absolute;
    top: 12px;

    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }

  @keyframes blink {

    0% {
      height: 4px;
    }
    5% {
      border-top: 1px solid black;
      transform: translate(0px,2px);
      height: 1px;
    }
    10% {
      height: 4px;
    }

  }



  &__eye--left {
    left: 20px;
  }

  ;

  &__eye--right {
    right: 40px;
  }

  ;

  &__eye--left2 {
    left: 40px;
  }

  ;

  &__eye--right2 {
    right: 20px;
  }

  ;

}