doctype html 
html 
  include components/head
  body
    include components/global
    include components/template
    
    //- include components/list
    //- include components/counter
    
    
    
